/*Fonts*/
	@font-face {
		font-family:'Aloevera-OVoWO';
		src: url('../Font/Aloevera-OVoWO.ttf');}

/*Universal*/


p, ul {font-family:optima,verdana,arial;
		font-size: 100%;}

h1 {font-family: cursive, "brush script MT";
	letter-spacing: .5px;}

h3 {font-family:optima,verdana,arial;}

#C1 { }

	div#B2Page {font-size: 90%;
		text-align: right;
		padding-top: 5px;
		padding-right: 10px;}
		
		#B2Page>h1 {
				letter-spacing: 2px;
				color: #FDC581;
				-webkit-text-stroke: .25px #F89F65;
				}
		#B2Page>h2 {letter-spacing: 1.5px;
					color: #FDC581;
					-webkit-text-stroke: .25px #F89F65;}

		
		@media only screen and (max-width: 760px)
			{
				#B2Page>h1 {
				font-size: 163%;
				padding-top:7px;
				letter-spacing: .25px;}
				#B2Page>h2 {
				font-size: 130%;
				letter-spacing: 0px;}
			}
	
nav {background-color: #3D405B;
		font-size: 120%;}
	
	/* Underline Box Nav */
	.growUnderline {
		margin: 0px;
		padding: 0px;
 		height: 2px;
 		width: 100%;
	  background-color: #F4F1DE;
	  transform: scaleX(0); 
	  transition: transform 0.5s;}
	
	.Link1 {border-left: 2px solid #F4F1DE;
		padding:0px;}
	
		.Link1:hover .growUnderline{
  			transform: scaleX(.75);}
  			
		.Link1 a {color: #F4F1DE;
			text-decoration: none;}
			
	.Link2 {border-left: 2px solid #F4F1DE;}
	
		.Link2:hover .growUnderline{
  			transform: scaleX(.75);}
		
		.Link2 a {color: #F4F1DE;
			text-decoration: none;}
			
	.Link3 {border-left: 2px solid #F4F1DE;}
	
		.Link3:hover .growUnderline{
  			transform: scaleX(.75);}
  			
		.Link3 a {color: #F4F1DE;
			text-decoration: none;}
			
	.Link4 {border-left: 2px solid #F4F1DE;}
	
		.Link4:hover .growUnderline{
  			transform: scaleX(.75);}
  			
		.Link4 a {color: #F4F1DE;
			text-decoration: none;}
			
	.Link4 {border-right: 2px solid #F4F1DE;}

footer {background-color: #3D405B;} 
	
	#Footer1 {text-align: justify;
	color:#F4F1DE;}
	
	#Grid2 {}
	
	#Grid2 p#Follow {font-size: 12px;
					color: #F4F1DE;}

h2 {font-family:'Aloevera-OVoWO';
	letter-spacing: .75px;
	color: #3D405B;
	-webkit-text-stroke: .25px #8AA89C;}

/* Bottom Nav */
#Navigation {border: solid 2px #8AA89C;
			background-color: #F4F1DE;
			padding: 10px;
			width: auto;}
	
	#Navigation a {color: #3D405B;
			text-decoration: none;
			}

/* Home */
#WholeScreen1 {background-color: #F4F1DE;}

#B21 p {background-color: lightgrey;
		text-align: center;}

#IntroB22 {border: solid 2px #3D405B;
			background-color: #8AA89C;
			line-height: 140%;
			text-align: justify;
			padding: 15px;}

#B3Savand {
			line-height: 155%;}
	
	#B3Savand h2 {text-align:center;}
	
	#B3Savand p {text-align:justify;}

#B4Goldenlight {background-color: rgb(253, 197, 129, 65%);}
	
	#GoldenIntro h2{text-align: center;}
	
	#GoldenIntro p{line-height: 155%;
					text-align: justify;}

/*Action Page*/

#B2 {border: solid #FDC581 2px;
	border-radius: 75px;
	background-color: rgb(253, 197, 129, 65%);
	font-size: 125%;
	text-align: center;
	padding: 25px;}
	
	#B2 p {font-family: 'Aloevera-OVoWO';
	line-height: 155%;
	letter-spacing: .75px;
	color: #3D405B;
	}

/*Savand*/

#B2History {}
	
	#B2History h2 {text-align: center;}
	
	#B2History p {text-align: justify;}

#Otrar { }
	
	#OInfo {background-color: rgb(138, 168, 156, 65%);
		padding: 15px;
		border: solid 5px #F4F1DE;}
	
	#OInfo h2 {text-align: center;}

#Taradlands { }
	
	#TInfo {background-color: rgb(138, 168, 156, 65%);
		padding: 15px;
		border: solid 5px #F4F1DE;}
	
	#TInfo h2 {text-align: center;}

#Thiir { }
	
	#ThInfo {background-color: rgb(138, 168, 156, 65%);
		padding: 15px;
		border: solid 5px #F4F1DE;}
	
	#ThInfo h2 {text-align: center;}

#Floura { }
	
	#FInfo {background-color: rgb(138, 168, 156, 65%);
		padding: 15px;
		border: solid 5px #F4F1DE;}
	
	#FInfo h2 {text-align: center;}

#Findlaire { }
	
	#FiInfo {background-color: rgb(138, 168, 156, 65%);
		padding: 15px;
		border: solid 5px #F4F1DE;}
	
	#FiInfo h2 {text-align: center;}

#Sirdaz { }
	
	#SInfo {background-color: rgb(138, 168, 156, 65%);
		padding: 15px;
		border: solid 5px #F4F1DE;}
	
	#SInfo h2 {text-align: center;}

#Shonia { }
	
	#ShInfo {background-color: rgb(138, 168, 156, 65%);
		padding: 15px;
		border: solid 5px #F4F1DE;}
	
	#ShInfo h2 {text-align: center;}

.Info {text-align: justify;
		line-height: 135%;}

/*The Guild*/

#Mae {background-color: #F4F1DE;}

	#MInfo {padding: 15px;}
	#MInfo p{font-size: 110%;
			color: #8AA89C;
			-webkit-text-stroke: .5px #3D405B;}
	
	#MInfo ul{line-height: 155%;
			text-align: justify;}
			
	#MInfo li {padding:3px;}

#Timber {background-color: #F4F1DE;}

	#TimInfo {padding: 15px;}
	#TimInfo p{font-size: 110%;
			color: #8AA89C;
			-webkit-text-stroke: .5px #3D405B;}
	
	#TimInfo ul{line-height: 155%;
			text-align: justify;}
			
	#TimInfo li {padding:3px;}

#Liz {background-color: #F4F1DE;}

	#LInfo {padding: 15px;}
	#LInfo p{font-size: 110%;
			color: #8AA89C;
			-webkit-text-stroke: .5px #3D405B;}
	
	#LInfo ul{line-height: 155%;
			text-align: justify;}
			
	#LInfo li {padding:3px;}

#Onyx {background-color: #F4F1DE;}

	#OnyInfo {padding: 15px;}
	#OnyInfo p{font-size: 110%;
			color: #8AA89C;
			-webkit-text-stroke: .5px #3D405B;}
	
	#OnyInfo ul{line-height: 155%;
			text-align: justify;}
			
	#OnyInfo li {padding:3px;}

#Luna {background-color: #F4F1DE;}
	
	#LuInfo {padding: 15px;}
	#LuInfo p{font-size: 110%;
			color: #8AA89C;
			-webkit-text-stroke: .5px #3D405B;}
	
	#LuInfo ul{line-height: 155%;
			text-align: justify;}
			
	#LuInfo li {padding:3px;}

#Irnek {background-color: #F4F1DE;}
	
	#IrInfo {padding: 15px;}
	#IrInfo p{font-size: 110%;
			color: #8AA89C;
			-webkit-text-stroke: .5px #3D405B;}
	
	#IrInfo ul{line-height: 155%;
			text-align: justify;}
	
	#IrInfo li {padding:3px;}
/*Get Started*/

#Creator {background-color: #8AA89C;
		margin-top: 10px;
		margin-bottom: 15px;}
	
	#Form1 {background-color: #F4F1DE;
			line-height: 200%;
			padding:15px;}
				
	#Form2 {background-color: #F4F1DE;
			line-height: 200%;
			padding:15px;}
			
		#Form2 p {font-size: 85%;}
		
		#Scores {text-align: justify;
				margin-left:10%;
				margin-right:10%;
				font-size: 100%;}
	
	#Form3 {background-color: #F4F1DE;
			line-height: 200%;
			padding:15px;}
			
		#BoxInfo:focus {background-color: lightgrey;}
		
	#Form4 {line-height: 200%;
			padding:10px;}
			
		input#submit:hover {background-color: #FDC581;}
	
#Resources {background-color: #F4F1DE;;
			padding: 15px;}
		
		#Resources p {line-height: 155%;
						text-align: justify;
						margin-top: -2%;}
						
		#Resources a {text-decoration: none;
			color: #F89F65;}

		
		#Resources h2 {text-align:center;}
		
		#Resources p.Label {font-family: cursive, "brush script MT";
				letter-spacing: .5px;
				text-align: center;
				margin-bottom: 3%;
				font-weight: bold;}
		
.Headers {background-color: rgb(253, 197, 129, 65%);
		text-align: center;}
		
#RefClass {background-color: rgb(138, 168, 156, 65%);
			padding:15px;
			}

	#RefClass p {line-height: 155%;
						text-align: justify;
						margin: -2px;
						margin-right:5%;
						margin-left:5%;
						margin-bottom: 2%;}
		
		#RefClass h3 {text-align:center;
						color: #3D405B;}
		
		#RefClass em.Label {font-family: cursive, "brush script MT";
				letter-spacing: .5px;
				text-align: center;
				margin-bottom: 3%;
				font-weight: bold;}

#RefRaces {background-color: rgb(138, 168, 156, 65%);
			padding: 15px;}
			
		#RefRaces p {line-height: 155%;
						text-align: justify;
						margin: -2px;
						margin-right:5%;
						margin-left:5%;
						margin-bottom: 2%;}
		
		#RefRaces h3 {text-align:center;
						color: #3D405B;}
		
		#RefRaces em.Label {font-family: cursive, "brush script MT";
				letter-spacing: .5px;
				text-align: center;
				margin-bottom: 3%;
				font-weight: bold;}

#RefAbility {background-color: rgb(138, 168, 156, 65%);
			padding: 15px;}
		
		#RefAbility p {line-height: 155%;
						text-align: justify;
						margin: -2px;
						margin-right:5%;
						margin-left:5%;
						margin-bottom: 2%;}
		
		#RefAbility h3 {text-align:center;
						color: #3D405B;}
		
		#RefAbility em.Label {font-family: cursive, "brush script MT";
				letter-spacing: .5px;
				text-align: center;
				margin-bottom: 3%;
				font-weight: bold;}

#C5 {background-color: #F4F1DE;
	padding: 10px;}
	
	#C5 h2 {text-align: center;}
	
	#C5 p {text-align: justify;
			line-height: 155%}
			
	#C5 a {text-decoration: none;
			color: #F89F65;}
						