body{min-width: 90%;}


/* Universal ------------------------*/
Nav{display:flex;
	margin: 25px auto;
	padding: 10px;
	max-width:90%;}
	
#Link1,#Link2,#Link3,#Link4 {flex: 1;
							padding:10px}
		
.ContentBox {margin:10%;
			font-family: optima;}
			
/* HW10 Test Paragraph*/
@media only screen and (max-width: 800px)
	{#HW10 {color:green;}}
@media only screen and (min-width: 800px)
	{#HW10 {color:purple;
			background: pink;
			border-style: solid;
			border-width: 4px;
			border-color: purple;}}


/* Intro Page ------------------------*/
.Image{width:100%;
		display:block;
		margin:0px;}
	
#Box3 {}
		
#Grid1 {display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 10px;}
@media only screen and (max-width: 900px)
	{#Grid1 {grid-template-columns: 1fr;
		grid-template-rows: 265px 1fr 1fr 1fr;}}
#Grid1 {border-style: solid;
		border-width: 20px;
		border-color: red;}
		
#Box4 {padding: 10px;
			border-style: solid;
			border-width: 5px;
			border-color: yellow;}
		
#Box5 {border-style: solid;
		border-width: 5px;
		border-color: orange;}
		
#Box6 {border-style: solid;
		border-width: 5px;
		border-color: green;}
		
#Box7 {border-style: solid;
			border-width: 5px;
			border-color: blue;}
		
#Box8 {}
		
/* Links Specific ------------------------*/
#Grid2 {margin: 10%;}
#Box3_3 {text-align: justify;}
		
#Video {}
		
video {width: 100%;
		height: auto;}
			
/* List Page Specific ------------------------*/
.Name {border-radius: 10px;
		width: 65%;}

.Character>ul {list-style-type: square;
			list-style-position: inside;}

		
/* Character Creator Specific ------------------------*/
#Form {margin:10% auto;
		max-width: 560px;
		padding: 20px;
			border-style: solid;
			border-width:3.5px;
			border-color:#E07A5F;}
		
.Character {margin: 10px;}

#Box3_2 {padding: 10px;
		max-width: 400px;}
			
#Box4_2 {padding: 10px;
		max-width: 500px;}

#Box5_2 {padding: 10px;
		max-width: 400px;}
			