@media only screen and (orientation: portrait)
{/* Universal */
body {min-width: 600px;
	margin: 5%;
	margin-top: 2%;}

#C1 {
		display:grid;
		grid-template-columns: 1fr 1fr;
		margin-bottom: 25px;}

@media only screen and (max-width: 735px)
			{#C2 {
				padding:10px;}
			}

	#B1Logo {
			margin-right:5%;
			display: flex;
			align-items: center;
			min-width:350px;
			max-width:350px;
			}
		
		#Logo {width:auto;
				height:auto;
				max-height:100px;
				margin: 0;
				padding-left: 5px;
				padding-top: 5px;
				object-fit: contain;
				align-self: flex-start;}

	#B2Page {
		margin-left:5%;
		max-height: 120px;
		min-width: 50%;
		margin-top: -10px;}

.Margin2 {margin-left: 5%;
		margin-right: 5%;}	

nav {
		display:grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		justify-content: center;
		margin-left: -10%;
		margin-right: -10%;
		margin-bottom: 25px;
		padding: 10px;}
	
	nav div{flex: 1;
		padding-left:10px;
		padding-right:10px;
		text-align: center;}
	
	.Empty {visibility: hidden;}

.Headers {
		margin-top: 25px;
		margin-bottom: 25px;
		margin-left: -10%;
		margin-right: -10%;
		padding: 5px;}
	
footer {
		margin-left: -10%;
		margin-right: -10%;
		margin-top: 15%;
		margin-bottom: -15%;
		padding-bottom: 15%;
		padding-top:10px;
		height: 100px;}
		
		#Test {
				margin-left: 10%;
				margin-right: 10%;
				display:grid;
				grid-template-columns: 1fr .15fr;
				display:flex;
				align-items: center;
				justify-content: center;
				gap: 20px;}
		
		#Footer1 {
			max-width: 1080px;
			margin-top: 5%;}
			
		#Grid2 {text-align: center;
				margin-bottom: -7%;}
		
		#Pinterest {width:50%;
					margin: auto;
					display:block;
					max-height: 75px;
					width:auto;
					min-height: 50px;
					height:auto;
					padding: 5px;}

#Navigation {text-align:center;
			margin-left: 35%;
			margin-right: 35%;}
		
		Div#Navigation {flex: 1;
		padding: 10px;
		text-align: center;}

/* Page 1 */
	#WholeScreen1 {
			margin-left: -7%;
			margin-right: -7%;
			padding-top: 25px;
			padding-bottom: 25px;}
	
	#B21 p {width: 50%;
		margin: 0 auto;}


	#B2Intro {
			margin-left:10%;
			margin-right:10%;
			max-height: 100%;
			grid-template-columns: 1fr;}

	#B21 {
	text-align: center;}
	
		video {
			width: 90%;
			min-width: 500px;}
	
	#IntroB22 {
				margin: 10px auto;
				max-width:90%;
				max-height: 100%;
				display:flex;
				align-items: center;
				justify-content: center;}
		
#B3Savand {
		margin-top: 25px;
		margin-bottom: 25px;
		padding: 25px;}
	
	#P1Savand {
		width:90%;
		margin-bottom: 25px;}
	
#B4Goldenlight {
		display:grid;
		grid-template-columns: 1fr;}
	
	#GoldenIntro {padding: 25px;}
	
	#GoldenPic {display:flex;
			align-items: center;
			justify-content: center;}
			
			#P2Guild {
			margin: 10px auto;
			max-width:90%;
			max-height: 100%;
			}
		
		#P2Guild {max-height:100%;}
	
/* Action Form Page */

#B2 {
		margin-top: 25%;
		margin-bottom: 25%;}

/* Savand */

#B2History {
		margin-bottom: 25px;
		margin-left:5%;
		margin-right:5%;}

#Otrar {
		display:grid;
		grid-template-columns: 1fr;
		gap: 15px;
		margin-bottom: 25px;
		margin-top: 25px;}
		
	
	#OInfo {
		height:auto;
		width:auto;
		margin: 10px;}
	
	#OPic {
		display: flex;
		overflow: hidden;
		margin: 10px;}
		
		#POtrar {max-width: 100%;
			height: auto;
			object-fit: scale-down;}

#Taradlands {
		display:grid;
		grid-template-columns: 1fr;
		gap: 15px;
		margin-bottom: 25px;}
	
	#TInfo {
		height:auto;
		width:auto;
		margin: 10px;}

	
	#TPic {
		display: flex;
		overflow: hidden;
		margin: 10px;}
		
		#PTaradlands {max-height:750px;
			width: auto;
			object-fit: contain;
			margin: 0 auto;}

#Thiir {
		display:grid;
		grid-template-columns: 1fr;
		gap: 15px;
		margin-bottom: 25px;}
	
	#ThInfo {
		height:auto;
		width:auto;
		margin: 10px;}
	
	#ThPic {
		display: flex;
		overflow: hidden;
		margin: 10px;}
		
		#PThiir {max-width: 100%;
			height: auto;
			object-fit: scale-down;}
	
#Floura {
		display:grid;
		grid-template-columns: 1fr;
		gap: 15px;
		margin-bottom: 25px;}
	
	#FInfo {
		height:auto;
		width:auto;
		margin: 10px;}
	
	#FPic {
		display: flex;
		overflow: hidden;
		margin: 10px;}
	
		#PFloura {max-width: 100%;
			height: auto;
			object-fit: scale-down;}
	
#Findlaire {
		display:grid;
		grid-template-columns: 1fr;
		gap: 15px;
		margin-bottom: 25px;}
	
	#FiInfo {
		height:auto;
		width:auto;
		margin: 10px;}
	
	#FiPic {
		display: flex;
		overflow: hidden;
		margin: 10px;}
	
		#PFindlaire {max-height:750px;
			width: auto;
			object-fit: contain;
			margin: 0 auto;}
	
#Sirdaz {
		display:grid;
		grid-template-columns: 1fr;
		gap: 15px;
		margin-bottom: 25px;}
	
	#SInfo {
		height:auto;
		width:auto;
		margin: 10px;}
	
	#SPic {
		display: flex;
		overflow: hidden;
		margin: 10px;}
	
		#PSirdaz {max-width: 100%;
			height: auto;
			object-fit: scale-down;}
	
#Shonia {
		display:grid;
		grid-template-columns: 1fr;
		gap: 15px;}
	
	#ShInfo {
		height:auto;
		width:auto;
		margin: 10px;}
	
	#ShPic {
		display: flex;
		overflow: hidden;
		margin: 10px;}
	
		#PShonia {max-width: 100%;
			height: auto;
			object-fit: scale-down;}
	
/* The Guild */

#C2 { }
	
	#Mae {
		display:grid;
		grid-template-columns: 1fr;
		max-height: 100%;
		margin-bottom:25px;}
	
		#MInfo {
			margin-right:10px;
			max-height: 100%;
			margin: 10px;}
		
		#MPic{
			margin-left:10px;
			max-height: 375px;
			margin: 10px;}
		
			#PMae {width:100%;
				max-height: 375px;
				object-fit: scale-down;}
		
	#Timber {
		display:grid;
		grid-template-columns: 1fr;
		max-height: 100%;
		margin-bottom:25px;}
	
		#TimInfo {
			margin-right:10px;
			max-height: 100%;
			margin: 10px;}
		
		#TimPic{
			margin-left:10px;
			max-height: 375px;
			margin: 10px;}
			
			#PTimber {width:100%;
				max-height: 375px;
				object-fit: scale-down;}
		
	#Liz {
		display:grid;
		grid-template-columns: 1fr;
		max-height: 100%;
		margin-bottom:25px;}
	
		#LInfo {
			margin-right:10px;
			max-height: 100%;
			margin: 10px;}
		
		#LPic{
			margin-left:10px;
			max-height: 375px;
			margin: 10px;}
		
			#PLiz {width:100%;
				max-height: 375px;
				object-fit: scale-down;}
		
	#Onyx {
		display:grid;
		grid-template-columns: 1fr;
		max-height: 100%;
		margin-bottom:25px;}
	
		#OnyInfo {
			margin-right:10px;
			max-height: 100%;
			margin: 10px;}
		
		#OnyPic{
			margin-left:10px;
			max-height: 375px;
			margin: 10px;}
		
		#POnyx {width:100%;
				max-height: 375px;
				object-fit: scale-down;}
	
	#Luna {
		display:grid;
		grid-template-columns: 1fr;
		max-height: 100%;
		margin-bottom:25px;}
	
		#LuInfo {
			margin-right:10px;
			max-height: 375px;
			margin: 10px;}
		
		#LuPic{
			margin-left:10px;
			max-height: 375px;
			margin: 10px;}
		
			#PLuna {width:100%;
				max-height: 375px;
				object-fit: scale-down;}
		
	#Irnek {
		display:grid;
		grid-template-columns: 1fr;
		max-height: 100%;
		}
	
		#IrInfo {
			margin-right:10px;
			max-height: 100%;
			margin: 10px;}
		
		#IrPic{
			margin-left:10px;
			max-height: 375px;
			margin: 10px;}
		
			#PIrnek {width:100%;
				max-height: 375px;
				object-fit: scale-down;}
		
/* Get Started */

#C3 {
		display:grid;
		grid-template-columns: 1fr;
		}
	
	#Creator {
		padding: 25px;}
	
		#Form1 {padding: 15px;}
		
		#Form2{
			margin-top: 25px;
			padding: 15px;}
		
		#Form3{
			margin-top: 25px;
			padding: 15px;}
		
		#Form4{
			padding: 15px;}
	
	#Resources {
		margin-top: 10px;
		margin-bottom: 15px;}

#C4 {
		display:grid;
		grid-template-columns: 1fr;
		gap: 15px;}
	
	#RefClass {
		margin-top: 10px;
		margin-bottom: 15px;}
	
	#RefRaces {
		margin-top: 10px;
		margin-bottom: 15px;}
	
	#RefAbility {
		margin-top: 15px;
		margin-bottom: 15px;}
	
#C5 { }
}
